.image-card {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*linear-gradient(to right, rgba(20, 20, 20, 1), rgba(255, 255, 255, 0.05))*/
.blur-background {
    backdrop-filter: blur(10px);
    background-color: rgba(20, 20, 20, 0.8);
}